body {
	color: #ffffff;
	font-family: arial, verdana, sans-serif;
	background: #0F0F0F;
	background: linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(bottom, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background-attachment: fixed;
}

div.tabHeader {
	height: 32px;
	overflow: hidden;
}

div.tabHeader a {
	float: left;
	display: block;
	width: 120px;
	text-align: center;
	height: 28px;
	padding-top: 3px;
	vertical-align: middle;
	border: 1px solid #555599;
	border-bottom-width: 0;
	text-decoration: none;
	font-weight: 500;
	color: #8888ff;
}

div.tabHeader a:hover,div.tabHeader a.Active {
	background-color: #ffff55;
	background: linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(bottom, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
}

div.tabHeader a.on {
	color: #ffffff;
	background: linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(top, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
}

div.tabs {
	clear: both;
	border: 1px solid #555599;
	overflow: hidden;
}

div.gauges {
	text-align: center;
}

div.annunciators {
	padding: 0px;
	margin: 10px 20px;
}

div.annunciators span {
	float: left;
	height: 30px;
	width: 110px;
	border: 2px solid #000000;
	text-align: center;
	font-size: 12px;
	padding: 2px;
	margin: 0px;
	background: #080808;
	color: #303030;
}

div.annunciators span.annunciatorOff {
	color: #303030;
}

div.annunciators span.annunciatorWarn {
	color: #ffbb00;
}

div.annunciators span.annunciatorError {
	color: #ff2200;
}

div.annunciators span.annunciatorOk {
	color: #22ee22;
}

input[type=range] {
	padding: 0 5px;
	width: 200px;
}

a {
	color: #5555ff;
}

h1 {
	color: #9999dd;
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 5px;
}

h2 {
	color: #bbbbff;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
}

h3 {
	color: #bbbbff;
	margin-top: 14px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 0px;
}

#configTable td {
    padding: 3px 7px 2px 7px;
}

#configTable th {
	font-size: 1.5em;
	color: #bbbbff;
	padding: 10px 7px 10px 7px;
	text-align: left;
}

input {
	width: 70px;
}

/* for safari  */
input[type="range"]{
   -webkit-appearance:none !important;
   background: rgb(FF, FF, FF);
    width: 200px;
    height: 6px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

.visible,
.hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
  opacity: 1;
  transition: opacity 2s; // fade in duration + delay
}
.hidden {
  opacity: 0;
  transition: opacity 2s; // fade out duration + delay
}

.visible > div {
  margin-top: 1px;
  transition: margin-top 0.5s 0s; // roll in duration + delay

}
.hidden > div {
  margin-top: -2000px;
  transition: margin-top 2s ease-in 0s; // roll out duration + delay
}