body {
	color: #ffffff;
	font-family: arial, verdana, sans-serif;
	background: #0F0F0F;
	background: linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(bottom, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background-attachment: fixed;
}

div.tabHeader {
	height: 32px;
	overflow: hidden;
}

div.tabHeader a {
	float: left;
	display: block;
	width: 120px;
	text-align: center;
	height: 28px;
	padding-top: 3px;
	vertical-align: middle;
	border: 1px solid #555599;
	border-bottom-width: 0;
	text-decoration: none;
	font-weight: 500;
	color: #8888ff;
}

div.tabHeader a:hover,div.tabHeader a.Active {
	background-color: #ffff55;
	background: linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(bottom, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
}

div.tabHeader a.on {
	color: #ffffff;
	background: linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -o-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -moz-linear-gradient(top, rgb(2, 44, 84), rgb(15, 15, 16) 70%);
	background: -webkit-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
	background: -ms-linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
}

div.tabs {
	clear: both;
	border: 1px solid #555599;
	overflow: hidden;
}

table.annunciators {
	background: #080808;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.annunciators td {
	text-align: center;
	border: 4px solid #000000;
	height: 30px;
	width: 110px;
	font-size: 75%;
	color: #303030;
}

.annunciatorOff {
	color: #303030;
}

.annunciatorWarn {
	color: #ffbb00;
}

.annunciatorError {
	color: #ff2200;
}

.annunciatorOk {
	color: #22ee22;
}

input[type=range] {
	padding: 0 5px;
	width: 200px;
}

a {
	color: #5555ff;
}

h1 {
	color: #9999dd;
	font-size: 2.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	color: #bbbbff;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
}

/* for safari  */
input[type="range"]{
   -webkit-appearance:none !important;
   background: rgb(FF, FF, FF);
    width: 200px;
    height: 6px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
 }
