body {
	color: #fff;
	font-family: arial, verdana, sans-serif;
	background: #333;
	background: linear-gradient(to bottom, rgb(25, 25, 44), rgb(35, 54, 94));
	background-attachment: fixed;
	margin: 0 0.5em 0.5em 0.5em;
}

.mainTitle {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 15em;
	font-weight: bold;
	text-shadow: 0.05em 0.05em 0.05em #000;
	animation: fadein 5s;
}

.subTitle {
	text-align: center;
	font-size: .3em;
	animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/************* Top Info Bar *************/
.infoBar {
	margin: 0;
	padding: 0;
	background: #333;
	color: #ccc;
	font-size: 1.3em;
	width: 100%;
	display: table;
}

.infoBarCell {
	display: table-cell;
	text-align: left;
	width: 29%;
}

.infoBarCell#exterior {
	width: 10%;
}

.infoBarCell#coolant {
	width: 22%;
}

.infoBarCell#timeRunning {
	text-align: right;
	width: %10;
}

/************* Buttons *************/
.button {
	display: inline-block;
	padding: 0.5em 1em;
	margin-bottom: 0.3em;
	font-size: 1em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background: #555;
	background: linear-gradient(to bottom right, #888, #444);
	border-radius: 0.7em;
	box-shadow: 0.2em 0.2em 0.5em #000;
}

.button:hover {
	background: #567;
	background: linear-gradient(to bottom right, #89a, #456);
}

.button:active {
	background: #678;
	background: linear-gradient(to bottom right, #9ab, #567);
	transform: translateY(2px);
}

button#stopCharge {
	float: right;
	vertical-align: middle;
}

/************* System state and global colors *************/
.systemState {
	font-size: 2.5em;
	font-weight: bold;
	color: white;
	text-shadow: 0em 0em 0.4em #ddd;
}

.systemState .error {
	text-shadow: 0em 0em 0.4em #000;
}

.error {
	color: #f22;
}

.warning {
	color: #fb2;
}

/************* Charge Level *************/
meter#chargeLevelMeter {
	margin: 5em 10% 5em 10%;
	height: 5em;
	width: 80%;
	box-shadow: 1em 2em 0.5em #000;
}

.chargeLevel {
	margin-bottom: 0.5em;
	text-align: center;
	color: #555;
	font-weight: bold;
	font-size: 6em;
	text-shadow: 0 0 0.2em #aff, 0 0 0.5em #fff;
}

div#inputCurrentSelector {
	font-size: 2em;
	color: #fff;
	text-shadow: 0 0 0.2em #bbb;
	text-align: center;
}

input#inputCurrent {
	font-size: 2em;
	background: #234;
	color: #fff;
	width: 1.5em;
	text-shadow: 0 0 0.2em #bbb;
	box-shadow: .2em 0.2em 0.5em #000;
}

input#inputCurrentLevel {
	font-size: 1em;
}

/************* Sub Info *************/
.subInfo {
	margin: 0.5em 15% .5em 15%;
	padding: .5em .5em .5em .5em;
	display: table;
	table-layout: fixed;
	width: 70%;
	background: linear-gradient(to bottom right, #667, #334);
	font-size: 1.8em;
	border-radius: 0.7em;
	box-shadow: .3em 0.3em 0.3em #000;
}

.subInfoCell {
	display: table-cell;
	text-align: center;
}

/************* Toggle Switches *************/
.switch {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 1.5em;
	padding: 0.3em;
	background-color: white;
	border-radius: 1.8em;
	box-shadow: inset 0 -0.1em rgb(45, 64, 104), inset 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
	cursor: pointer;
	background-image: linear-gradient(to bottom, rgb(25, 25, 44), rgb(45, 64, 104) 2.5em);
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 1em;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	transition: 0.15s ease-out;
	transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	transition: inherit;
}

.switch-label:before {
	content: attr(data-off);
	right: 1.1em;
	color: #aaa;
	text-shadow: 0 0.1em rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 1.1em;
	color: white;
	text-shadow: 0 0.1em rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~~ .switch-label {
	background: #47a8d8;
	box-shadow: inset 0 0.1em 0.2em rgba(0, 0, 0, 0.15), inset 0 0 0.3em rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~~ .switch-label:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 0.35em;
	left: 0.35em;
	width: 1.4em;
	height: 1.4em;
	background: white;
	border-radius: 1em;
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
	transition: left 0.15s ease-out;
}

.switch-handle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -0.6em 0 0 -0.6em;
	width: 1.2em;
	height: 1.2em;
	background: #f9f9f9;
	border-radius: 0.6em;
	box-shadow: inset 0 0.1em rgba(0, 0, 0, 0.02);
	background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~~ .switch-handle {
	left: 4em;
	box-shadow: -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
}

.switch-green>.switch-input:checked ~~ .switch-label {
	background: #4fb845;
}

.switch-orange>.switch-input:checked ~~ .switch-label {
	background: #d89645;
}

.buttonBar {
	display: inline-flex;
	flex-grow: 1;
}

.buttonBarCell {
	display: flex;
	align-items: center;
	margin: auto;
	font-size: 1.3em;
}

/*** ***/
div.tabHeader {
	height: 32px;
	overflow: hidden;
}

div.tabHeader a {
	float: left;
	display: block;
	width: 120px;
	text-align: center;
	height: 28px;
	padding-top: 3px;
	vertical-align: middle;
	border: 1px solid #555599;
	border-bottom-width: 0;
	text-decoration: none;
	font-weight: 500;
	color: #8888ff;
}

div.tabHeader a:hover, div.tabHeader a.Active {
	background-color: #ffff55;
	background: linear-gradient(bottom, rgb(2, 44, 84) 1%, rgb(15, 15, 16)
		70%);
}

div.tabHeader a.on {
	color: #ffffff;
	background: linear-gradient(top, rgb(2, 44, 84) 1%, rgb(15, 15, 16) 70%);
}

div.tabs {
	clear: both;
	border: 1px solid #555599;
	overflow: hidden;
}

div.gauges {
	text-align: center;
}

div#annunciator {
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

div#annunciators {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

div#annunciators div {
	display: inline-table;
	height: 30px;
	width: 110px;
	border: 2px solid rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 0px 0px 0px;
	margin: 0px -5px -3px -1px;
	background: rgba(0, 0, 0, 0.4);
	color: #353535;
}

div#annunciators div.annunciatorOff {
	color: #353535;
}

div#annunciators div.annunciatorWarn {
	color: #ffbb00;
}

div#annunciators div.annunciatorError {
	color: #ff2200;
}

div#annunciators div.annunciatorOk {
	color: #22ee22;
}

img.annunciatorOff {
	opacity: .05;
}

div#batteries {
	padding: 0px;
}

div#batteryLevels {
	width: 1130px;
	text-align: center;
  margin-left:auto; 
    margin-right:auto;
}

div#batteryLevels div {
	display: inline-table;
	height: 20px;
	width: 110px;
	border: 2px solid rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 2px 0px 0px 0px;
	margin: 0px -5px -3px -1px;
	background: rgba(0, 0, 0, 0.4);
	color: #000;
}

div#batteryLevels div.warn {
	background: #ffbb00;
}

div#batteryLevels div.bad {
	background: #ff2200;
}

div#batteryLevels div.ok {
	background: #22ee22;
}


img#brakeHold {
	position: absolute;
    top: 110px;
    left: 20px;
}

img#brakeLight {
	position: absolute;
    top: 110px;
    left: 160px;
}

img#warning {
	position: absolute;
    top: 110px;
    left: 300px;
}

img#limitationTorque {
	position: absolute;
    top: 110px;
    right: 340px;
}

img#coolingRelay {
	position: absolute;
    top: 110px;
    right: 250px;
}

img#reverseLight {
	position: absolute;
    top: 110px;
    right: 130px;
}

img#absActive {
	position: absolute;
    top: 110px;
    right: 20px;
}

div.foldAnnunciators {
	font-size: 2em;
	font-weight: bold;
	color: #888;
	position: fixed;
	bottom: 0.5em;
	left: 1.5em;
}

div.foldBatteries {
	font-size: 2em;
	font-weight: bold;
	color: #888;
	position: fixed;
	bottom: 0.5em;
	left: 2.5em;
}


div.settings {
	position: fixed;
	bottom: 1em;
	right: 2em;
}

input[type=range] {
	padding: 0 5px;
	width: 200px;
}

a {
	color: #5555ff;
}

h1 {
	color: #9999dd;
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 5px;
}

h2 {
	color: #bbbbff;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
}

h3 {
	color: #bbbbff;
	margin-top: 14px;
	margin-bottom: 4px;
	padding: 0px 0px 0px 0px;
}

#configTable td {
	padding: 3px 7px 2px 7px;
}

#configTable th {
	font-size: 1.5em;
	color: #bbbbff;
	padding: 10px 7px 10px 7px;
	text-align: left;
}

input {
	width: 70px;
}

/* for safari  */
input[type="range"] {
	-webkit-appearance: none !important;
	background: rgb(FF, FF, FF);
	width: 200px;
	height: 6px;
	border-radius: 8px;
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
